@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

body {
  background-color: #e5e5e5e5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: white;
  padding-left: 20px;
  padding-right: 30px;
  height: 10vh;
  width: 100%;
  background-color: #58b4ae;
}

header h1 {
  font-weight: bold;
  font-size: 4vh;
}

header p {
  opacity: 80%;
  font-size: 2vh;
}

footer {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  color: rgb(177, 173, 173);
  text-align: center;
}

.note {
  background-color: white;
  min-width: 10vw;
  float: left;
  width: 20vw;
  padding: 10px;
  margin: 16px;
  margin-top: 35px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.note h3 {
  margin-bottom: 5px;
}

.note button {
  color: white;
  background-color: #e07a5f;
  margin-left: 15vw;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

form {
  display: flex;
  margin: 15px 0;
  flex-direction: column;
  position: relative;
  top: 15%;
  left: 26%;
  background-color: white;
  width: 50vw;
  border-radius: 7px;
  padding: 15px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  border: none;
  color: rgb(37, 36, 36);
  margin-bottom: 10px;
  font-size: 24px;
  width: 100%;
  outline: none;
  resize: none;
}

form button {
  color: white;
  position: absolute;
  background-color: #58b4ae;
  top: 140px;
  right: 40px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

form button p {
  font-size: 32px;
  padding-bottom: 5px;
}
